.navbar-static-top {
    margin-bottom: 19px;
}

#output td:first-of-type {
    width: 25%;
}
#output td:last-of-type {
    width: 60%;
}

#output td pre {
    margin: 0;
    padding: 5px;
}

#output tr.type-SENT td, #output tr.type-SENT td pre {
    color: blue !important;
}
#output tr.type-SENT td:first-of-type {
    color: black !important;
}

#output tr.type-RECEIVED td, #output tr.type-RECEIVED td pre {
    color: green !important;
}
#output tr.type-RECEIVED td:first-of-type {
    color: black !important;
}

/**************************/

.exec-children {
    margin-left: 35px;
    border-left: 1px grey dashed;
    padding-top: 15px;
}

.panel.exec-panel {
    margin-bottom: 0;
    display: inline-block;
}

.panel.exec-panel .panel-heading, .panel.exec-panel .panel-body, .panel.exec-panel .panel-footer {
    padding: 8px 12px;
}

.exec-children:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    border-bottom: 1px grey dashed;
    float: left;
}